<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="AutomationSuite" parallel="tests">
  <test thread-count="2" name="Test1" parallel="tests">
    <parameter name="BrowserName" value="Chrome"/>
    <parameter name="platformtype" value="Linux"/>
    <parameter name="IncognitoMode" value="True"/>
    <parameter name="LogLevel" value="DEBUG"/>
    <classes>
      <class name="com.cucumber.Test.TestRunnerA"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- AutomationSuite -->
